{% extends "main.html" %}

{% block tabs %}

<!-- BOOTSTRAP STYLESHEET IMPORT -->
{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
<link rel="stylesheet" href="../docs/_assets/_stylesheets/extra.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet">
{{ super() }} {% endblock %}

<!-- STYLE OVERRIDES JUST FOR INDEX PAGE -->
<style>
  @media screen and (min-width: 76.25em) {
    .md-main {
      display: none
    }
  }

  @media screen and (max-width: 76.1875em) {
    article {
      display: none;
    }
  }

  /* MOBILE ONLY */
  @media (max-width: 576px) {}
</style>
<!-- STYLE OVERRIDES JUST FOR INDEX PAGE -->

<header class="masthead hero">
  <div class="container h-100">
    <div class="row h-100 pb-5 pt-md-5 justify-content-center align-items-center">
      <div class="col-md-6 order-2 h-75 px-4 px-md-0 d-flex flex-column justify-content-evenly">
        <div class="row">
          <div class="col main_text_col">
            <h1 class="hero-title">Devanna Rajeswari</h1>
            <h2 class="muted hero-title">MBBS FRCOG MRCPI</h2>
            <h3 class="hero-title">Consultant Gynaecologist & Obstetrician</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 masthead_description">
            <p class="md-typeset lead">Miss Rajeswari is a Consultant Obstetrician and Gyncaeologist working at St.
              Peter's
              Hospital. She offers consultations and a variety of procedures and treatments for
              gynaecological issues.</p>

            <p class="md-typeset further_description lead">
              Miss Rajeswari trained in India and completed further training in Kenya and the Reupblic of Ireland. She
              continued her higher training in North West London and was appointed as a Consultant at St. Peter's
              Hospital
              in 2008.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex flex-column justify-content-start align-items-start button_contact_wrapper">
            <a class="btn btn-primary custom_button py-2 px-5" href="contact">Get in touch</a>
          </div>
        </div>
      </div>
      <div
        class="col col-md-6 order-1 order-md-2 my-3 my-md-0  d-flex flex-column align-items-center justify-content-center headshot_col">
        <img src="_assets/_images/headshot.jpg" alt="" class="img-fluid d-block img-lg img-sm">
      </div>

    </div>
    <div class="row h-100 mb-5 testimonials-section">
      <div class="col-12 px-4 px-md-0">
        <h2 class="muted">
          <a href="https://www.iwantgreatcare.org/doctors/miss-devanna-rajeswari">
            What her patients say <i class="bi bi-box-arrow-up-right smaller"></i>
          </a>
        </h2>

      </div>
      <div class="col-12 px-4 px-md-0">
        <div id="carouselTestimonialsIndicators" class="carousel slide" data-bs-ride="carousel">

          <ol class="carousel-indicators">
            <li data-bs-target="#carouselTestimonialsIndicators" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></li>
            <li data-bs-target="#carouselTestimonialsIndicators" data-bs-slide-to="1" aria-label="Slide 2"></li>
            <li data-bs-target="#carouselTestimonialsIndicators" data-bs-slide-to="2" aria-label="Slide 3"></li>
          </ol>

          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3500">
              <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">I took my mother in for a consultation she was very nervous and apprehensive
                        but Dr Rajeswari set such a calm environment and jsut took time to listen to my mum. I found Dr
                        Rajeswari to be extremely professional and she also set my mind at rest as I could see she knew
                        her stuff and she was able to provide a dianogsis immediately.</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">8th April 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary">
                            Written by a private patient at The Runnymede Hospital

                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">Miss Rajeswari is the nicest, kindest Doctor I have ever met! She made me
                        feel at ease, she made sure I was well informed with all choices and options and treated like a
                        human being with kindness and dignity! Thank you.</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">9th March 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary">Written by a private patient at Nuffield Health Woking
                            Hospital
                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">The Perimenopause/ Menopause is certainly a time of undeniable confusion,
                        distress and bewilderment but my mind was instantly put at ease by Miss Rajeswari. She was able
                        to treat me very quickly and I only wish I'd seen her sooner!

                        Her treatment is professional , experienced, tailored, compassionate, understanding and
                        reassuring. You couldn't be in safer hands, especially at a time when you really need it.</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">3rd March 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary">
                            Written by a private patient at Nuffield Health Woking Hospital

                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">Miss Rajeswari was amazing. Very understanding and supportive throughout,
                        very thorough - couldn't ask for a better person! I knew immediately that I was in very capable
                        hands. Thank you so much.</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">21st February 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary">Written by a private patient at The Princess Margaret
                            Hospital
                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">Miss Rajeswari is very caring and professional. I have suffered with PMDD for
                        many years, Miss Rajeswari listened to my ongoing gynaecological and hormonal problems and
                        carried out the full hysterectomy that I hoped for. This surgery has made my quality of life so
                        much better. I would highly recommend choosing her as your doctor/surgeon.</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">21st February 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary">
                            Written by a private patient at The Runnymede Hospital

                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">I knew within minutes of meeting Miss Rajeswari that I wanted her to carry
                        out my surgery.
                        I was very nervous beforehand about having the procedure & Miss Rajeswari immediately put my
                        mind at rest at the consultation by explaining everything thoroughly & reassuring me that I was
                        in the best hands.
                        On the day of the surgery Miss Rajeswari popped by my room to go over everything again & to
                        check I was happy with everything still.
                        The surgery all went smoothly...</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">13th February 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary">Written by a private patient at Nuffield Health Woking
                            Hospital
                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>


    </div>
  </div>

</header>

{{ super() }}

{% endblock %}

<!-- Content -->
{% block content %}

{% endblock %}

<!-- Application footer -->
{% block footer %}{{ super() }}{% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
</script>

{%endblock%}