{% extends "main.html" %}

{% block tabs %}

<!-- BOOTSTRAP STYLESHEET IMPORT -->
{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
<link rel="stylesheet" href="../docs/_assets/_stylesheets/extra.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet">
{{ super() }} {% endblock %}

<!-- STYLE OVERRIDES JUST FOR INDEX PAGE -->
<style>
  @media screen and (min-width: 76.25em) {
    .md-main {
      display: none
    }
  }

  @media screen and (max-width: 76.1875em) {
    article {
      display: none;
    }
  }

  /* MOBILE ONLY */
  @media (max-width: 576px) {}
</style>
<!-- STYLE OVERRIDES JUST FOR INDEX PAGE -->

<header class="masthead hero">
  <div class="container h-100">
    <div class="row h-100 pb-5 pt-md-3 justify-content-center align-items-center">
      <div class="col-md-8 order-2 h-75 px-4 px-md-0 d-flex flex-column justify-content-evenly">
        <div class="row">
          <div class="col main_text_col">
            <h1 class="hero-title">Devanna Rajeswari</h1>
            <h2 class="muted hero-title">MBBS MRCPI FRCOG</h2>
            <h3 class="hero-title">Consultant Gynaecologist & Obstetrician</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 masthead_description">
            <p class="md-typeset lead">Miss Rajeswari has been a Consultant Obstetrician and Gynaecologist since 2008.
              Her NHS practice is based at Ashford and St.Peter's Foundation Trust. She offers private consultations at:
            </p>
            <ul>
              <li>
                <p>The Runnymede Hospital, Chertsey</p>
              </li>
              <li>
                <p>Princess Margaret Hospital, Windsor</p>
              </li>
              <li>
                <p>Nuffield Hospital Woking</p>
              </li>
              <li>
                <p>Prime Health Weybridge</p>
              </li>
            </ul>

            <p class="md-typeset further_description lead">
              Miss Rajeswari trained in India and completed further training in Kenya and the Reupblic of Ireland. She
              continued her higher training in North West London and was appointed as a Consultant at St. Peter's
              Hospital
              in 2008.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex flex-column justify-content-start align-items-start button_contact_wrapper">
            <a class="btn btn-primary custom_button py-2 px-5" href="contact">Get in touch</a>
          </div>
        </div>
      </div>
      <div
        class="col order-1 order-md-2 my-3 my-md-0  d-flex flex-column align-items-end justify-content-center headshot_col">
        <img src="_assets/_images/headshot.jpg" alt="" class="img-fluid d-block img-lg img-sm">
      </div>

    </div>
    <div class="row h-100 mb-5 testimonials-section" id="testimonials">
      <div class="col-12 px-4 px-md-0">
        <h2 class="muted">
          <a href="https://www.iwantgreatcare.org/doctors/miss-devanna-rajeswari">
            What her patients say <i class="bi bi-box-arrow-up-right smaller"></i>
          </a>
        </h2>

      </div>
      <div class="col-12 px-4 px-md-0">
        <div id="carouselTestimonialsIndicators" class="carousel slide" data-bs-ride="carousel">

          <ol class="carousel-indicators">
            <li data-bs-target="#carouselTestimonialsIndicators" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></li>
            <li data-bs-target="#carouselTestimonialsIndicators" data-bs-slide-to="1" aria-label="Slide 2"></li>
            <li data-bs-target="#carouselTestimonialsIndicators" data-bs-slide-to="2" aria-label="Slide 3"></li>
          </ol>

          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3500">
              <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">I am so happy I saw Miss Rajeswari. I was struggling after a nurse and a gp
                        couldn't remove my IUD, and wanted me to go under general anaesthetic and have an operation to
                        have it removed!</p>

                      <p class="card-text">
                        I explained my concerns to Miss Rajeswari that I didn't think it was needed and asked her if she
                        would try to remove it. She listened to my feelings and sorted my problem out immediately,
                        removing the coil instantly, which 2 others failed, with minimal pain and within a matter of
                        minutes.
                      </p>

                      <p class="card-text">She was kind and caring and I would recommend her to everyone!
                        Thank you again!</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">10th October 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary">
                            Written by a private patient at Nuffield Health Woking Hospital

                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">Miss Rajeswari is a warm and wonderful doctor. She made me feel at ease
                        instantly and when she knew I was anxious about being seen before I went on holiday she stayed
                        late after her last appointment just to fit me in. She then made sure the relevant tests were
                        done the next day so I could enjoy my holiday without any worry. I couldn’t recommend her
                        enough.</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">9th March 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary"> The Runnymede Hospital - part of Circle Health Group
                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">Miss Devanna Rajeswari, explains thoroughly, has a caring nature, makes
                        calming conversation to put you at ease. Highly recommended.</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">5th September 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary">
                            The Runnymede Hospital - part of Circle Health Group

                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">Despite my nerves, Miss Rageswari really put me at ease and took the time to explain to me what would happen and what my results meant.</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">8th August 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary">Written by a private patient at Nuffield Health Woking Hospital
                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">Dr Rajeswari listened to me examined me and managed to fit another scan in on the day as I had my 7 month baby with me. She followed up with a subsequent appointment which (all bearing well) will have fixed my three and a half year problem. She was human, kind and clearly knows her stuff. Another member of the NHS to be cherished. Thank you</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">23rd June 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary">
                            Written by a private patient at St Peter's Hospital

                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">I Have seen Miss Rajeswari for two different consultations, she has made me feel so at ease and in capable hands on both occasions. She has a very calming and kind manor about here and I would definitely recommend her to other patients.</p>

                      <div class="ratings">
                        <div class="rating-wrapper">
                          <p>Recommend</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Trust</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                        <div class="rating-wrapper">
                          <p>Listening</p>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom mt-2">
                        <p class="card-text muted"><small class="text-body-secondary">5th June 2023</small></p>

                        <p class="card-text muted mb-0">
                          <small class="text-body-secondary">Written by a private patient at The Runnymede Hospital - part of Circle Health Group
                          </small>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>


    </div>
  </div>

</header>

{{ super() }}

{% endblock %}

<!-- Content -->
{% block content %}

{% endblock %}

<!-- Application footer -->
{% block footer %}{{ super() }}{% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>

{%endblock%}