:root {
    --main: rgb(134, 44, 162);
    --accent: #C98986;
    --masthead-accent: rgb(134, 44, 162, 0.75);
    --white: #ecdbcb;
    --button: #F6BDD1;
    --button-hover: #d69fb2;

    --md-text-font-family: 

    --md-mermaid-font-family: var(--md-text-font-family),sans-serif;
    --md-mermaid-edge-color: var(--md-code-fg-color);
    --md-mermaid-node-bg-color: var(--md-accent-fg-color--transparent);
    --md-mermaid-node-fg-color: var(--md-accent-fg-color);
    --md-mermaid-label-bg-color: var(--md-default-bg-color);
    --md-mermaid-label-fg-color: var(--md-code-fg-color);
}


/* nav bg color */
.md-header, .md-tabs,
.md-nav--primary .md-nav__title[for=__drawer],
.md-nav--primary .md-nav {
    background-color: var(--main) !important;
}

.md-nav__item .md-nav__link--active {
    color: var(---accent);
}

/* masthead */
.masthead_container h1,h2,h3,h4,h5,h6,p {
    color: var(--main);
}

.title_wrapper p {
    font-size: large;
}

.masthead_container img {
    border: 5px solid var(--main);
    border-radius: 50%;
    width: 15rem;
}

.masthead_description {
    text-align: justify;
}

/* BUTTONS */
a.custom_button {

    background: var(--button);
    color: black;
    border-radius: 50px;
    border: 0px;
}

a.custom_button:hover {
       
    background: var(--main);
    color: var(--white);
}

/* FONT STYLINGS */
.main_col_font {
    color: var(--main);
}