:root {
    --main: #862ca2;
    --main-light: rgba(172, 61, 206, 0.75);
    --accent: #C98986;
    --muted: #5E5B52;
    --masthead-accent: rgb(134, 44, 162, 0.75);
    --white: #ecdbcb;
    --button: #F6BDD1;
    --button-hover: #d69fb2;
    --header-font: 'Playfair Display', serif;
    /* --md-primary-fg-color: rgb(134, 44, 162)!important; */
    /* --md-accent-fg-color: var(--main); */
    /* --md-default-fg-color: var(--main); */
    --md-default-fg-color--lighter: var(--accent);
    --md-default-fg-color--lightest: rgb(201, 137, 134, 0.2);
    --md-typeset-a-color: var(--main);
}

/* nav  */
.md-header__title>.md-header__ellipsis {
    font-size: 2.2em;
}

.md-header, .md-tabs {
    background-color: var(--main) !important;
}

.md-nav--primary .md-nav__title[for="__drawer"] {
    background-color: var(--main) !important;
}

.md-nav__item .md-nav__link--active {
    /* color: var(--accent); */
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 5rem !important;
    width: auto;
}



/* FOOTER STYLINGS */
footer.md-footer {
    background-color: var(--main);
    color: var(--white);
}

/* UP TO MD SIZE */
@media (max-width: 768px) {
    .headshot_col.h-75 {
        height: 40%!important;
    }
    .custom_button {
        margin: 0em auto;
    }
    img.img-lg.img-sm {
        box-shadow: 7px 10px var(--main-light);
    }
    .main_text_col {
        text-align: center;
        /* padding-left: 0 !important;
        padding-right: 0 !important; */
    }
    .main_text_col>h1 {
        font-size: 3.8em;
    }
    .main_text_col>h5 {
        font-size: 1.5em;
    }
    .main_text_col>h6 {
        font-size: 1.5em;
    }
    .masthead_description {
        text-align: justify;
    }
    .masthead_description > :first-child {
        font-size: 0.8rem;
    }
    .further_description {
        display: none;
    }
    a.custom_button {
        font-size: 1rem;
    }
}

@media screen and (max-width: 76.1875em) {
    .md-header__title>.md-header__ellipsis {
        font-size: 1em;
    }
}
/* UP TO LARGE AND ABOVE SIZE */
@media (min-width: 769px) {
    .headshot_col {
        height: 75%!important;
    }
}


/* FONT STYLINGS */
.main_col_font {
    color: var(--main);
}

/* masthead */
.masthead {
    height: 80vh;
    color: var(--main);
    
}

.masthead .container {
    min-height: 100%;
    flex-grow: 1;
}

.masthead h1,
.masthead h2,
.masthead h3,
.masthead h4,
.masthead h5,
.masthead h6 {
    font-family: var(--header-font);
}

.muted {
    color: var(--muted);
}

img.img-lg {
    height: 65%;
    box-shadow: 14px 20px var(--main-light);
}


/* BUTTONS */
a.custom_button {

    background: var(--button);
    color: black;
    border-radius: 50px;
    border: 0px;
}

a.custom_button:hover {
       
    background: var(--main);
    color: var(--white);
}